body {
	padding-top: 100px;
}

.fixed-top-bar {
	top: 0;
	position: fixed;
	height: 100px;
	background-color: #f0f0f0;
	width: 100%;
}

.c-g-b {
	border: 1px solid #c0c0c0;
	font-size: 4em;
	padding: 30px;
}


